@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: #09090a; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: #323238; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}
